@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300;400&display=swap');
body {
	background:#fff;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

.btn.btn-sm.indigo:hover{
  color: #fff;
}

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}
.sectionPage {
  position: relative;
  top: -15px;
  margin-bottom: -125px;
}

.sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('https://i.postimg.cc/qq5HQgs8/16.jpg');
  background-position: center center;
  background-size: cover;
  filter: opacity(.5) !important;
  /* margin-bottom: 2rem; */
}
.store-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  word-spacing: 4px;
}
.store-title-1 {
  color: #fff;
  font-weight: 500;
  margin: 5px 0 5px 0 !important;
  font-family: 'Texturina', serif;
}
.special-card {
  margin: 0 5px 0 5px !important;
  height: 300px;
}
.shopLink {
  background-color: #ff7043;
  margin-top: 2rem;
}